  *{margin:0px;}

/* In diesem Abschnitt werden die Flexboxen definiert, die dafür sorgen, dass das Seitendesign korrekt dargestellt wird ist!*/  

html {
	position: relative;
	min-height: 100%;
}

body{
	font-family: Arial,sans-serif;
    margin: 0 0 40px;
	padding: 0;
    min-width: 50em;
}

/* Sorgt dafür, dass sich die Schriftgröße je nach Breite des Browsers verändert */
@media screen and (min-width: 200px) {
  body {
    font-size: 0.75em;
  }
 }

@media screen and (min-width: 880px) {
  body {
    font-size: 0.75em;
  }
 }
 
 @media screen and (min-width: 1000px) {
  body {
    font-size: 0.87em;
  }
 }

@media screen and (min-width: 1150px) {
  body {
    font-size: 1em;
  }
 }
 
 @media screen and (min-width: 1400px) {
  body {
    font-size: 1.2em;
  }
 }
 
  
#headerForm{
	display: -webkit-box; /* Safari */
	display: -webkit-flex; /* Chrome */
	display: -ms-flexbox; /* Internet Explorer */
	display: -o-flex;
    display: flex;
	min-width: 500px;
	min-height: 35px;
	height: 35px;
}

#complete{
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

#main {
    display: -webkit-box; /* Safari */
	display: -webkit-flex; /* Chrome */
    display: -ms-flex;
	display: -o-flex;
    display: flex;

	min-width: 500px;
}

#complete{
	top: 0px;
	width: 100%;
}

#Header2{
	-webkit-flex-basis: 20%;
    flex-basis: 20%;
	min-width: 200px;
	padding: 3px 3px 3px 4px;
	font-size: 0.9em; 
	background:-webkit-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Safari & Chrome */
	background:-o-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Opera */
	background:-moz-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Firefox */
	background:-ms-linear-gradient(#BEDBEE, white); /* für ältere Versionen von dem Internet Explorer */
	background:linear-gradient(#BEDBEE, white); /*aktuelle Syntax*/
}

#Header1{
	-webkit-flex-basis: 80%;
    flex-basis: 80%;
	padding:3px;
	min-width: 680px;
	font-size: 0.9em;
	background: #366581;
	color: #FFFFFF;
	
}

#Header3{
	-webkit-flex-basis: 80%;
    flex-basis: 80%;
	padding:3px;
	font-size: 0.9em; 
	background: #FFFFFF;
	
}

#Inhalt {
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
	-webkit-order: 2;
	order: 2;
	min-width: 480px;
	height:96%;
}

#Startseite {
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
	-webkit-order: 1;
	order: 1;
	min-width: 480px;
	height:96%;
	color: #366581;
}
	
#Navigation,
#Info {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
	min-width: 200px;
	padding:3px;
}

#Navigation{
-webkit-order: 1;
  order: 1;
  padding:3px;
  font-family: Arial,sans-serif;
    font-size: 16px;
	background:-webkit-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Safari & Chrome */
	background:-o-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Opera */
	background:-moz-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Firefox */
	background:-ms-linear-gradient(#BEDBEE, white); /* für ältere Versionen von dem Internet Explorer */
	background:linear-gradient(#BEDBEE, white); /*aktuelle Syntax*/
}

#Info{
-webkit-order: 3;
  order: 3;
  padding:3px;
   font-size: 0.9em;
	background:-webkit-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Safari & Chrome */
	background:-o-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Opera */
	background:-moz-linear-gradient(#BEDBEE, white); /* für ältere Versionen von Firefox */
	background:-ms-linear-gradient(#BEDBEE, white); /* für ältere Versionen von dem Internet Explorer */
	background:linear-gradient(#BEDBEE, white); /*aktuelle Syntax*/
	color: #366581;
}
   
   
/*In diesem Abschnitt werden die Layouts für die verschiedenen Buttons definiert*/
.button {
    color: #366581;
	font-weight: normal;
	padding:6px; 
	margin: 6px;
	width:90%; 
	background: #E6E6E6;
	display:inline-block; 
	border-radius: 10px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	text-align: left;
	font-size: 1em;
  } 
  
  .button_aktiv{
    color: #FFFFFF;
	font-weight: normal;
	padding:6px; 
	margin: 6px;
	width:90%;
	background: #366581;
	display:inline-block; 
	border-radius: 10px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	font-size: 1em;
	text-align: left;
  } 
  
  .special_button {
    color: #366581;
	font-weight: normal;
	padding:6px; 
	margin: 6px;
	width:90%; 
	background: #E6E6E6;
	display:inline-block; 
	border-radius: 10px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	text-align: center;
	font-size: 1em;
  } 
  
  .special_button_aktiv{
    color: #FFFFFF;
	font-weight: normal;
	padding:6px; 
	margin: 6px;
	width:90%;
	background: #366581;
	display:inline-block; 
	border-radius: 10px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	font-size: 1em;
	text-align: center;
  } 
  
   .button2 {
    color: #FFFFFF;
	font-weight: normal;
	padding:10px; 
	background: #366581;
	display:inline-block; 
	border-radius: 14px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	font-size: 1em;
  }

.text_button {
   border: none;
   background-color: transparent;
   padding: 0;
   color: #366581;  
   font-size: 1.1em;
}  

.suchfenster{
	width: 68%;
	height: 80%;
	font-weight: normal;
	padding:2px 7px; 
	display:inline-block; 
	border-radius: 8px;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	font-size: 1em;
}

.suchbutton{
	width: 27%;
	height: 80%;
	font-weight: normal;
	padding:1px; 
	color: #366581;
	background: #E6E6E6;
	display:inline-block; 
	border-radius: 8px;
	cursor: pointer;
	border:solid 0.5px black;
	box-shadow: 1px 1px 1px 1px #666;
	font-size: 1em;
}
  
  
/* Hier werden die restlichen Layouts definiert, die nichts mit den Flexboxen zu tun haben */

  div#Login{
	font-size: 1em;
	padding: 2%;
  }
  
  div#Login p {
	color: #FF0000;
	font-size: bold;
  }
  
  div#Login form > fieldset {
	padding: 1em;
	font:80%/1 sans-serif;
	border:1px solid black;
  }
  
  div#Login fieldset {
	padding: 0em;
	font:80%/1 sans-serif;
	border:none;
	border-radius: 6px;
  }
  
  div#Login label {
	float:left;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:left;
	font-weight:bold;
  }
  
  div#Login legend {
	padding: 0.2em 0.5em;
	border:1px solid black;
	font-size:90%;
	text-align:right;
  }
  
  div#Datei_hochladen label{
	width:15em;
  }
  
  div#Wahl_laden label{
	width:25em;
  }

  div#Abgabe{
	padding: 2%;
	color: #366581;
	
  }
  
  div#Abgabe form > fieldset{
	padding: 1em;
	font:80%/1 sans-serif;
	border:1px solid #366581;
	color: #366581;
	border-radius: 6px;
  }
  
  div#Abgabe fieldset{
	border:none;
  }
  
  div#Abgabe label {
	float:left;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:left;
	font-weight:bold;
	width: 19%;
  }
  
  div#Abgabe legend {
	padding: 0.2em 0.5em;
	border:1px solid #366581;
	font-size:90%;
	text-align:right;
	border-radius: 3px;
  }
  
  div#Inhalt h1{
	color: #366581;
	margin-left:2%;
	font-size: 40px;
	padding: 10px 0px;
  }
  
  div#Inhalt hr{
	background-color: #366581;
	height:5px;
	margin-right:2%; 
	margin-left:2%;
  }
  
  div#Inhalt table{
	border-collapse: collapse;
	margin: 15px;
	margin-left: 2%;
  }
  
  div#Inhalt a{
	text-decoration: none;
	float: left;
  }
  
  div#Inhalt th{
    font-size: 0.9em;
	color: #366581;
	min-width: 2.5em;
  } 
  
  div#Inhalt td{
    font-size: 0.9em;
	color: #366581;
	min-width: 2.5em;
  } 
  
  div#Inhalt p{
	color: #366581;
	padding: 0em 3em 1em 3em;
	font-size: 1em;
  }

  .print > #Inhalt p {
	  width: 95%;
	  margin: 15px 15px 15px 2%;
	  padding: 0px;
  }
  
  div#Navigation button {
	font-weight: bold;
	text-decoration: none;
  }

  div#Navigation button:disabled {
	  opacity: 0.7;
	  filter: alpha(opacity=70);
  }
  
  div#Navigation li {
    list-style: none;
    padding: 3%;
	font-weight:bold;
	font-size: 1em;
  }
  
  div#Navigation a:link{
	font-weight: bold;
	color: #366581;
	text-decoration: none;
	text-align: center;
  }
  
  div#Startseite a:link{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
  }

  div#Startseite > p > a:link, div#Startseite > p > a, #kkw a, #kkw a:link {
	  color: blue;
  }
  
   div#Startseite li{
	font-size: 1.15em;
  }

   div#Startseite p {
	   padding: 10px 2%;
   }

  div#Startseite  h1, div#Startseite  h2 {
	font-weight: normal;
	margin-left: 2%;
  }

  div#Startseite  h1 {
	  margin-top: -30px;
	  font-size: 2.5em;
  }

  div#Startseite  h2 {
	  font-size: 1.5em;
  }

  div#Startseite #kkw li {
	  font-size: 1em;
	  margin-left: 10px;
  }

  div#Header1 p{
	padding: 3px 10px;
	font-size: 1.2em;
  }
  
  div#Header2 p{
	padding: 4px 7px;
	text-align: left;
  }
  
  div#Startseite center{
	margin-top: -20px;
  }
  
  div#Info p, table{
	padding: 7px;
	font-size: 17px;
	color: #366581;
  }
  
  div#Info strong{
	padding: 7px;
	font-size: 18px;
  }

  div#Info p > strong, div#Info .info-table strong {
	  padding: 0;
	  font-size: 17px;
  }
  
  div#Inhalt del{
	color: #FF0000;
  }
  
  div#Tabelle td{
	border-bottom: 1px solid #366581;
  }
  
  div#Tabelle2 td{
	border-bottom: 1px solid #366581;
	border-top: 1px solid #366581;
  }
  
  div#TabelleEuropa table,th{
	font-size: 1em;
	max-width: 600px;
	align: center; 
	margin-left:auto; 
	margin-right:auto;'
  }

  .party-button-div {
	  position: relative;
	  display: inline-block;
  }

  .candidate-td {
	  position: relative;
  }

  .party-button-div .party-button-disabled {
	  opacity: 0.5;
	  filter: alpha(opacity=50);
  }

  .tooltip {
	  visibility: hidden;
	  background-color: #366581;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  position: absolute;
	  z-index: 1;
	  top: 1px;
	  left: 110%;
	  font-size: 15px;
	  opacity: 0;
	  -webkit-transition: opacity 1s;
	  -moz-transition: opacity 1s;
	  -ms-transition: opacity 1s;
	  -o-transition: opacity 1s;
	  transition: opacity 1s;
  }

  .party-button-div .tooltip {
	  width: 260px;
  }

  .candidate-td .tooltip {
	  width: 260px;
	  margin-top: -14px;
  }

  .view_votes_button {
	  display: inline-block;
	  position: relative;
	  width: 100%;
  }

  .view_votes_button .tooltip {
	  width: 220px;
	  margin-left: -35px;
	  margin-top: -10px;
  }

  .party-button-div:hover .tooltip, .candidate-td:hover .tooltip, .view_votes_button:hover .tooltip {
	  visibility: visible;
	  opacity: 1;
  }

  .party-button-div .tooltip::after, .candidate-td .tooltip::after, .view_votes_button .tooltip:after {
	  content: "";
	  position: absolute;
	  top: 50%;
	  right: 100%;
	  margin-top: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: transparent #366581 transparent transparent;
  }

  #summary-columns {
	  -webkit-column-count: 3;
	  -moz-column-count: 3;
	  column-count: 3;
	  width: 95%;
	  margin: 15px 15px 15px 2%;
	  color: #366581;
  }

  #summary-columns .row {
	  float: none;
	  font-size: 17px;
  }

  #summary-columns .row table {
	  margin: 0;
	  width: 100%;
  }

  #summary-columns .party-complete-no-break {
	  break-inside: avoid;
  }

  #summary-columns .party-row {
	  font-weight: bold;
  }

  #summary-columns .candidate-row {
	  border-top: 1px solid #366581;
	  border-bottom: 1px solid #366581;
	  margin-bottom: -1px;
  }

  #summary-columns .candidate-row td:first-child {
	  width: 20%;
  }

  #summary-columns .candidate-row td:nth-child(2) {
	  width: 70%;
  }

  #summary-columns .candidate-row td:last-child {
	  width: 10%;
	  text-align: right;
  }

  footer {
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  height: 40px;
  }

  footer > div {
	  left: -50%;
  }

  footer a, footer a:link {
	  color: blue;
	  margin: 5px;
	  font-size: 0.7em;
  }
 